.itemDiv{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.itemName{
    font-size: large;
}

.itemAmt{
    font-size: medium;
}
